<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.dao.BookshopMapper">
  <resultMap id="BaseResultMap" type="com.lemon.pojo.Bookshop">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bookId" jdbcType="INTEGER" property="bookId" />
    <result column="position" jdbcType="BIT" property="position" />
  </resultMap>
  <resultMap id="AndBookResultMap" type="com.lemon.pojo.Bookshop">
    <id column="bookshop_id" jdbcType="INTEGER" property="id" />
    <result column="bookshop_bookId" jdbcType="INTEGER" property="bookId" />
    <result column="bookshop_position" jdbcType="BIT" property="position" />
    <association property="book" javaType="com.lemon.pojo.Book">
      <id column="book_id" property="id" />
      <result column="book_name" property="name" />
      <result column="book_author" property="author" />
      <result column="book_url" property="url" />
      <result column="book_novelTypeId" property="novelTypeId" />
      <result column="book_abstractText" property="abstractText" />
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bookId, position
  </sql>
  <sql id="AndBook_Column_List">
    book.id as book_id,
	book.`name` as book_name,
	book.author as book_author,
	book.url as book_url,
	book.novelTypeId as book_novelTypeId,
	book.abstractText as book_abstractText,
	bookshop.id as bookshop_id,
	bookshop.bookId as bookshop_bookId,
	bookshop.position as bookshop_position
  </sql>
  <select id="selectByExampleAndBook" parameterType="com.lemon.pojo.BookshopExample" resultMap="AndBookResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="AndBook_Column_List" />
    FROM book INNER JOIN bookshop ON bookshop.bookId = book.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKeyAndBook" parameterType="java.lang.Integer" resultMap="AndBookResultMap">
    select 
    <include refid="AndBook_Column_List" />
    FROM book INNER JOIN bookshop ON bookshop.bookId = book.id
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByExample" parameterType="com.lemon.pojo.BookshopExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bookshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bookshop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByIds" parameterType="java.lang.Integer">
    delete from bookshop where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bookshop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lemon.pojo.BookshopExample">
    delete from bookshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lemon.pojo.Bookshop">
    insert into bookshop (id, bookId, position
      )
    values (#{id,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{position,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lemon.pojo.Bookshop">
    insert into bookshop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookId != null">
        bookId,
      </if>
      <if test="position != null">
        position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lemon.pojo.BookshopExample" resultType="java.lang.Long">
    select count(*) from bookshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bookshop
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bookId != null">
        bookId = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bookshop
    set id = #{record.id,jdbcType=INTEGER},
      bookId = #{record.bookId,jdbcType=INTEGER},
      position = #{record.position,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lemon.pojo.Bookshop">
    update bookshop
    <set>
      <if test="bookId != null">
        bookId = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lemon.pojo.Bookshop">
    update bookshop
    set bookId = #{bookId,jdbcType=INTEGER},
      position = #{position,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>