<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.dao.GuidePageMapper">
  <resultMap id="BaseResultMap" type="com.lemon.pojo.GuidePage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="adTitle" jdbcType="VARCHAR" property="adTitle" />
    <result column="adLeft" jdbcType="VARCHAR" property="adLeft" />
    <result column="adRight" jdbcType="VARCHAR" property="adRight" />
    <result column="page" jdbcType="TINYINT" property="page" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, adTitle, adLeft, adRight, page, imgUrl
  </sql>
  <select id="selectByExample" parameterType="com.lemon.pojo.GuidePageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from guidepage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from guidepage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from guidepage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lemon.pojo.GuidePageExample">
    delete from guidepage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lemon.pojo.GuidePage">
    insert into guidepage (id, adTitle, adLeft, 
      adRight, page, imgUrl
      )
    values (#{id,jdbcType=INTEGER}, #{adTitle,jdbcType=VARCHAR}, #{adLeft,jdbcType=VARCHAR}, 
      #{adRight,jdbcType=VARCHAR}, #{page,jdbcType=TINYINT}, #{imgUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lemon.pojo.GuidePage">
    insert into guidepage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adTitle != null">
        adTitle,
      </if>
      <if test="adLeft != null">
        adLeft,
      </if>
      <if test="adRight != null">
        adRight,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="imgUrl != null">
        imgUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adTitle != null">
        #{adTitle,jdbcType=VARCHAR},
      </if>
      <if test="adLeft != null">
        #{adLeft,jdbcType=VARCHAR},
      </if>
      <if test="adRight != null">
        #{adRight,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        #{page,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lemon.pojo.GuidePageExample" resultType="java.lang.Long">
    select count(*) from guidepage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update guidepage
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adTitle != null">
        adTitle = #{record.adTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.adLeft != null">
        adLeft = #{record.adLeft,jdbcType=VARCHAR},
      </if>
      <if test="record.adRight != null">
        adRight = #{record.adRight,jdbcType=VARCHAR},
      </if>
      <if test="record.page != null">
        page = #{record.page,jdbcType=TINYINT},
      </if>
      <if test="record.imgUrl != null">
        imgUrl = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update guidepage
    set id = #{record.id,jdbcType=INTEGER},
      adTitle = #{record.adTitle,jdbcType=VARCHAR},
      adLeft = #{record.adLeft,jdbcType=VARCHAR},
      adRight = #{record.adRight,jdbcType=VARCHAR},
      page = #{record.page,jdbcType=TINYINT},
      imgUrl = #{record.imgUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lemon.pojo.GuidePage">
    update guidepage
    <set>
      <if test="adTitle != null">
        adTitle = #{adTitle,jdbcType=VARCHAR},
      </if>
      <if test="adLeft != null">
        adLeft = #{adLeft,jdbcType=VARCHAR},
      </if>
      <if test="adRight != null">
        adRight = #{adRight,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        imgUrl = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lemon.pojo.GuidePage">
    update guidepage
    set adTitle = #{adTitle,jdbcType=VARCHAR},
      adLeft = #{adLeft,jdbcType=VARCHAR},
      adRight = #{adRight,jdbcType=VARCHAR},
      page = #{page,jdbcType=TINYINT},
      imgUrl = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>